<a href="https://colab.research.google.com/github/starboyjr/phonepe/blob/main/phone_pey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/PhonePe/pulse.git

fatal: destination path 'pulse' already exists and is not an empty directory.

In [ ]:
import pandas as pd
import json 
import os

In [ ]:
#agg_transcation

In [ ]:
path = "/content/pulse/data/aggregated/transaction/country/india/state/"

In [ ]:
agg_st_list = os.listdir(path)
agg_st_list

In [ ]:
clm = {'States':[], 'Transaction_Year':[],'Quarters':[],'Transaction_Type':[], 'Transaction_Count':[], 'Transaction_Amount':[]}
for i in agg_st_list:
  p_i = path+i+"/"
  agg_yr = os.listdir(p_i)
  for j in agg_yr:
    p_j = p_i+j+"/"
    agg_yr_lt = os.listdir(p_j)
    for k in agg_yr_lt:
      p_k = p_j+k
      data = open(p_k,"r")
      d = json.load(data)
      for z in d["data"]["transactionData"]:
        Name = z["name"]
        count = z["paymentInstruments"][0]["count"]
        amount = z["paymentInstruments"][0]["amount"]
        clm['Transaction_Type'].append(Name)
        clm['Transaction_Count'].append(count)
        clm['Transaction_Amount'].append(amount)
        clm['States'].append(i)
        clm['Transaction_Year'].append(j)
        clm['Quarters'].append(int(k.strip('.json')))
df1 = pd.DataFrame(clm)

In [ ]:
df1.info()

In [ ]:
#agg_users

In [ ]:
path1 = "/content/pulse/data/aggregated/user/country/india/state/"
agg_st_ulist = os.listdir(path1)
agg_st_ulist

In [ ]:
clm1 = {'States':[], 'Transaction_Year':[],'Quarters':[],'Transaction_Type':[], 'Transaction_Count':[], 'Transaction_Amount':[]}
for i in agg_st_ulist:
  p_i = path1+i+"/"
  agg_uyr = os.listdir(p_i)
  for j in agg_uyr:
    p_j = p_i+j+"/"
    agg_uyr_lt = os.listdir(p_j)
    for k in agg_uyr_lt:
      p_k = p_j+k
      data = open(p_k,"r")
      d = json.load(data)
      try:
        for x in d["data"]["usersByDevice"]:
              Name = x["brand"]
              #print(Name)
              count = x["count"]
              percent = x["percentage"]
              clm1['Transaction_Type'].append(Name)
              clm1['Transaction_Count'].append(count)
              clm1['Transaction_Amount'].append(percent)
              clm1['States'].append(i)
              clm1['Transaction_Year'].append(j)
              clm1['Quarters'].append(int(k.strip('.json')))
      except:
         pass    
df2 = pd.DataFrame(clm1)

In [ ]:
df2.info()

In [ ]:
#map_trans

In [ ]:
path2 = "/content/pulse/data/map/transaction/hover/country/india/state/"
agg_mp_list = os.listdir(path2)
agg_mp_list

In [ ]:
clm2 = {'States':[], 'Transaction_Year':[],'Quarters':[],'District':[], 'Transaction_Count':[], 'Transaction_Amount':[]}
for i in agg_mp_list:
  p_i = path2+i+"/"
  agg_yr = os.listdir(p_i)
  for j in agg_yr:
    p_j = p_i+j+"/"
    agg_yr_lt = os.listdir(p_j)
    for k in agg_yr_lt:
      p_k = p_j+k
      data = open(p_k,"r")
      d = json.load(data)
      for z in d["data"]["hoverDataList"]:
        Name = z["name"]
        count = z["metric"][0]["count"]
        amount = z["metric"][0]["amount"]
        clm2["District"].append(Name)
        clm2["Transaction_Count"].append(count)
        clm2['Transaction_Amount'].append(amount)
        clm2["States"].append(i)
        clm2["Transaction_Year"].append(j)
        clm2["Quarters"].append(int(k.strip(" .json")))
df3 = pd.DataFrame(clm2)

In [ ]:
df3

In [ ]:
#map_user

In [ ]:
path3 = "/content/pulse/data/map/user/hover/country/india/state/"
agg_mp_user = os.listdir(path3)
agg_mp_user

In [ ]:
clm3 = {'States':[], 'Transaction_Year':[],'Quarter':[],'District':[], 'RegisteredUsers':[], 'AppUsers':[]}
for i in agg_mp_user:
  p_i = path3+i+"/"
  agg_yr = os.listdir(p_i)
  for j in agg_yr:
    p_j = p_i+j+"/"
    agg_yr_lt = os.listdir(p_j)
    for k in agg_yr_lt:
      p_k = p_j+k
      data = open(p_k,"r")
      d = json.load(data)
      try:
       for z,values in d["data"]["hoverData"].items():
           Name = z
           count = values["registeredUsers"]
           app = values["appOpens"]
           clm3["District"].append(Name)
           clm3["RegisteredUsers"].append(count)
           clm3['AppUsers'].append(app)
           clm3["States"].append(i)
           clm3["Transaction_Year"].append(j)
           clm3["Quarter"].append(int(k.strip(" .json")))     
      except:
        pass

df4 = pd.DataFrame(clm3)

In [ ]:
df4

In [ ]:
#agg_top

In [ ]:
path4 = "/content/pulse/data/top/transaction/country/india/state/"
agg_tp_tn = os.listdir(path4)
agg_tp_tn

In [ ]:
clm4 = {'States':[], 'Transaction_Year':[],'Quarters':[],'District':[],'Transaction_Type':[], 'Transaction_Count':[], 'Transaction_Amount':[]}
for i in agg_tp_tn:
  p_i = path4+i+"/"
  agg_yr = os.listdir(p_i)
  for j in agg_yr:
    p_j = p_i+j+"/"
    agg_yr_lt = os.listdir(p_j)
    for k in agg_yr_lt:
      p_k = p_j+k
      data = open(p_k,"r")
      d = json.load(data)
      for z  in d["data"]["districts"]:
         Name = z["entityName"]
         Type = z["metric"]["type"]
         count = z["metric"]["count"]
         amount = z["metric"]["amount"]
         clm4["District"].append(Name)
         clm4['Transaction_Type'].append(Type)
         clm4["Transaction_Count"].append(count)
         clm4['Transaction_Amount'].append(amount)
         clm4["States"].append(i)
         clm4["Transaction_Year"].append(j)
         clm4["Quarters"].append(int(k.strip(" .json")))
df5 = pd.DataFrame(clm4)

In [ ]:
df5

In [ ]:
#agg_top_user

In [ ]:
path5 = "/content/pulse/data/top/user/country/india/state/"
agg_tp_us = os.listdir(path5)
agg_tp_us

In [ ]:
clm5 = {'State':[], 'Transaction_Year':[],'Quarter':[],'District':[], 'RegisteredUsers':[]}
for i in agg_tp_us:
  p_i = path5+i+"/"
  agg_yr = os.listdir(p_i)
  for j in agg_yr:
    p_j = p_i+j+"/"
    agg_yr_lt = os.listdir(p_j)
    for k in agg_yr_lt:
      p_k = p_j+k
      data = open(p_k,"r")
      d = json.load(data)
      for z  in d["data"]["districts"]:
         Name = z["name"]
         count = z["registeredUsers"]
         clm5['District'].append(Name)
         clm5['RegisteredUsers'].append(count)
         clm5["State"].append(i)
         clm5["Transaction_Year"].append(j)
         clm5["Quarter"].append(int(k.strip(" .json")))


df6 = pd.DataFrame(clm5)

In [ ]:
df6

In [ ]:
d1 = df1
d2 = df2
d3 = df3
d4 = df4
d5 = df5
d6 = df6

In [ ]:
# drop any duplicates
d1 = d1.drop_duplicates()
d2 = d2.drop_duplicates()
d3 = d3.drop_duplicates()
d4 = d4.drop_duplicates()
d5 = d5.drop_duplicates()
d6 = d6.drop_duplicates()

In [ ]:
# checking null values

In [ ]:
null_counts = d1.isnull().sum()
print(null_counts)

In [ ]:
null_counts = d2.isnull().sum()
print(null_counts)

In [ ]:
null_counts = d3.isnull().sum()
print(null_counts)

In [ ]:
null_counts = d4.isnull().sum()
print(null_counts)

In [ ]:
null_counts = d5.isnull().sum()
print(null_counts)

In [ ]:
null_counts = d6.isnull().sum()
print(null_counts)

In [ ]:
# converting dataframe to csv

In [ ]:
d1.to_csv("agg_trans.csv",index = False) 
d2.to_csv ("agg_user.csv",index = False)
d3.to_csv("map_tran.csv",index = False)
d4.to_csv("map_user.csv",index = False)
d5.to_csv("top_tran.csv",index = False)
d6.to_csv("top_user.csv",index = False)

In [ ]:
# read the csv file
agg_trans = pd.read_csv("/content/agg_trans.csv")
agg_user = pd.read_csv("/content/agg_user.csv")
map_tran = pd.read_csv("/content/map_tran.csv")
map_user = pd.read_csv("/content/map_user.csv")
top_tran = pd.read_csv("/content/top_tran.csv")
top_user = pd.read_csv("/content/agg_user.csv")

In [ ]:
agg_trans